.b-progress {
  position: relative;
  width: 100%;
  display: inline-block;
  height: 14px;
  background: #fff;
  border-radius: 7px;
  border: 1px solid #f7f7f7;
  border-top: 1px solid #cecece;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);

}
.b-progress__val {
  position: absolute;
  width: 100%;
  height: 14px;
  font-size: 9px;
  line-height: 14px;
  vertical-align: middle;
  text-align: center;
  z-index: 100;
  color: #000;
}
.b-progress__line {
  background: #0f0;
  position: absolute;
  z-index: 0;
  left: 0px;
  height: 14px;
  display: inline-block;  
  border-radius: 7px;
  background: rgb(171,255,88); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FiZmY1OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJjYzIxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYmZmNTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(171,255,88,1) 0%, rgba(44,194,24,1) 50%, rgba(171,255,88,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(171,255,88,1)), color-stop(50%,rgba(44,194,24,1)), color-stop(100%,rgba(171,255,88,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(171,255,88,1) 0%,rgba(44,194,24,1) 50%,rgba(171,255,88,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(171,255,88,1) 0%,rgba(44,194,24,1) 50%,rgba(171,255,88,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(171,255,88,1) 0%,rgba(44,194,24,1) 50%,rgba(171,255,88,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(171,255,88,1) 0%,rgba(44,194,24,1) 50%,rgba(171,255,88,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abff58', endColorstr='#abff58',GradientType=0 ); /* IE6-8 */
}