.b-browser {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  font-size: 1.4em;
}

.b-browser__load {
  display: none;
  vertical-align: top;
}
.b-browser__block {
  width: 125px;
  height: 125px;
  display: inline-block;
  text-align: center; 
}
